.contact {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 250px;
    height: 75px;
}

.list {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -.15px;
    margin-bottom: 8px;

}

.btn {
    /* background-color: #e6e5e5; */
    border: 1px solid black;
    border-radius: 2px;
    padding: 6px;
    color: black;
}