.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 678px) and (max-width: 1200px) {
    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}